# Site settings
title: Sai Rajendra Immadi
description: 'Open-Source Enthusiast | Musician'
url: 'https://immadisairaj.github.io'
baseurl: '/blog'
google_analytics: 'UA-168944360-1'
# disqus_shortname: 'immadisairaj'

author:
  name: 'Sai Rajendra Immadi'
  email: immadirajendra.sai@gmail.com
  twitter_username: immadisairaj
  # facebook_username: immadisairaj
  github_username:  immadisairaj
  linkedin_username:  immadisairaj

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

sass:
    sass_dir: _sass
    style: compressed

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

plugins: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
